mat-form-field {
    font-size: 14px;
    width: 60%;
}

mat-table {
    overflow: auto;
    max-height: 500px;
    margin: 0 auto;
}

mat-header-cell {
    font-size: 1.2rem;
}

.table {
    margin-top: 15px;
}